<div id=page_wrapper>
	<h1 class="title">
		<%= @post.title %>
	</h1>
	<p class="date">
		Criado <%= time_ago_in_words(@post.created_at) %> atrás
			 <%= link_to 'Edit', edit_post_path(@post) %>
	</p>
	<p class="body">
		<%= @post.body %>
		<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
</div>